<%layout("layouts/boilerplate")-%>

<div class="row mb-3">
  <div class="col-lg-6 col-12 mb-3">
    <div class="card">
      <div
        id="campgroud-carousel-controls"
        class="carousel slide card-img-top"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <%campground.images.forEach((img,i) =>{%>
          <div class="carousel-item <%=i===0? 'active' : ''%>">
            <img src="<%=img.url%>" class="d-block w-100" alt=""/>
          </div>
          <%})%>
        </div>
        <%if(campground.images.length > 1){%> 
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#campgroud-carousel-controls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#campgroud-carousel-controls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <%}%> 
      </div>

      <div class="card-body">
        <h5 class="card-title"><%=campground.name%></h5>
        <p class="card-text"><%=campground.description%></p>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%=campground.location%></li>
        <li class="list-group-item">
          Submitted by <%=campground.author.username%>
        </li>
        <li class="list-group-item">$<%=campground.price%>/night</li>
        <%if(currentUser && currentUser._id.equals(campground.author._id)){%>
        <li class="list-group-item">
          <form method="post"
                action="/campgrounds/<%=campground._id%>/?_method=PATCH" 
                enctype="multipart/form-data" 
                class="validation-form" 
                novalidate
          >
            <div class="form-group mb-3">
              <label for="image" class="form-label mb-3">Upload new image(s)</label>
              <div class="d-flex btn-group" role="group" aria-label="Group">
              <input
                type="file"
                name="image"
                class="form-control"
                id="image"
                multiple
                required
              />
              <button class="btn btn-outline-primary">&#10004</button>
              </div>
            </div>
          </form>
        </li>
      <% } %> 
      </ul>
      <%if(currentUser && currentUser._id.equals(campground.author._id)){%>
      <div class="card-body d-flex justify-content-start">
        <a
          href="/campgrounds/<%=campground._id%>/edit "
          class="card-link btn btn-primary"
          >Edit</a
        >
        <form
          class="card-link"
          method="post"
          action="/campgrounds/<%=campground._id%>/?_method=DELETE"
        >
          <button class="btn btn-danger">Delete</button>
        </form>
        <a 
          href="/campgrounds/<%=campground._id%>/images"
          class="card-link btn btn-secondary"
          >Delete Image(s)</a>
      </div>
      <%}%>
      <div class="card-footer">
        <a
          href="/campgrounds"
          class="d-block text-center text-dark text-decoration-none"
          >Back to all campgrounds</a
        >
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-12">
<!-- Map -->
    <div class="card mb-3">
      <div id='map' class="card-img-top show-map"></div>
    </div>

<!-- Review form -->
    <div class="card mb-4 <%=!currentUser? 'd-none' : ''%>">
    <div class="card-body card-footer border-bottom">
      <h5 class="card-title my-2">Leave a Review</h5>
    </div>
    <div class="card-body">
      <form
        action="/campgrounds/<%=campground._id%>/reviews"
        novalidate
        class="validation-form"
        method="POST"
      >
        <div class="form-group">
          <label for="no-rate" class="form-label mb-3">Rating </label>
          <fieldset class="starability-basic w-100 h-10">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="0"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" class="form-label" title="Terrible"
              >1 star</label
            >
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" class="form-label" title="Not good"
              >2 stars</label
            >
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" class="form-label" title="Average"
              >3 stars</label
            >
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" class="form-label" title="Very good"
              >4 stars</label
            >
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="invalid-feedback">Please give a valid rating.</div>
        </div>
        <div class="form-group mb-3">
          <label class="form-label" for="review-body">Review </label>
          <textarea
            class="form-control"
            name="review[body]"
            id="review-body"
            cols="30"
            rows="3"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a valid Review.</div>
        </div>
        <button class="btn btn-success no-rate-check">Submit</button>
      </form>
    </div>
  </div>


</div>


<!-- All Reviews -->
<div class="col-12">
  <div class="card">
    <div class="card-body card-footer">
      <h5 class="card-title my-2">Reviews</h5>
    </div>
    <%if(campground.reviews){%>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <%for(let review of campground.reviews){%>
        <li class="list-group-item border rounded">
          <div class="d-flex mb-3">
            <img
              src="<%=campground.image%>"
              alt=""
              class="rounded-circle me-3"
              style="width: 35px; height: 35px"
            />
            <h5 class="card-title mb-0 align-self-center">
              <%=review.author.username%>
            </h5>
            <%if(currentUser && currentUser._id.equals(review.author._id)){%>
            <form
              action="/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE"
              method="post"
              class="ms-auto align-self-center"
            >
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <%}%>
          </div>
          <p
            class="card-text mb-3 starability-result"
            data-rating="<%=review.rating%>"
          >
            Rated: <%=review.rating%> stars
          </p>
          <p class="card-text"><%=review.body%></p>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </li>
        <%}%>
      </ul>
    </div>
    <%}%>
  </div>
  </div>
</div>
<script>
  const mapboxToken = "<%-process.env.MAPBOX_TOKEN%>";
  const campground = <%-JSON.stringify(campground)%>;
</script>
<script src="/scripts/showMap.js"></script>

